body {
    background-color: #333333 !important;
}
h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF !important;
}
.jumbotron {
    background-color: #111111 !important;
    padding: 1% !important;
    color: #FFFFFF !important;
}