body {
    background-color: #333333 !important;
}
h1, h2, h3, h4, h5, h6, p {
    color: #FFFFFF !important;
}
.jumbotron {
    background-color: #111111 !important;
    padding: 1% !important;
    color: #FFFFFF !important;
}
.tooltip-bubble {
    position: absolute;
    z-index: 10;
    opacity: 0%;
    background-color: #999999;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: #222222;
}
html {
    color: #64645f
}
button {
    background-color: #333333;
    color: #e4e4e4;
    border: 2px solid #ffffff;
    border-radius: 5px !important;
}
.input-year {
    background-color: transparent;
    color: #e4e4e4;
    border: 0px;
    padding: 0px;
    width: 100%;
    font-size: 20pt;
}